body{
  margin: 0px;
}

article{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width:100vw;
 
}
section{
    position:relative;
    display:flex;
    flex-direction:column;
 margin-right: auto;
margin-left:auto;
align-items:center;
 width:1150px;



}



header {
    display: flex;
    background-color: black;
    color: white;
    height: 60px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 23px;
    justify-content: center;
    align-items: center;
}


#logo img {
height: 140px;
position:relative;
right:450px;
}



#opzioni img {
    height: 65px;
}


#titolo{
color:white;
font-weight: bold;
position:relative;
right:465px;
}

#container_accesso {
    position:relative;
    right:-400px;
}

#accesso {
    border-radius: 40px;
    padding: 10px;
    font-size: 19px;
    font-weight: bold;
    color: black;
    background-color: white;
}


#container_barra {

    position:absolute;
        right:auto;
        left:auto;
}


.elementi_barra {
    background-color: white;
    color: black;
    margin-right: 30px;
    border-radius: 15px;
    padding: 6px;
    font-size: 15px;
    font-weight: 550;
  
}



#intro {
    display:block;
    font-size:50px;
    font-weight:bolder;
    text-align:center;
   margin-top:50px;
   margin-bottom:50px;
}




#opzioni {
    margin-left: auto;
    margin-right: auto;

}

.opzionisingole {
 position:relative;
 bottom:20px;
 font-size:20px;
 font-weight:500;
}

#ricerca {
    position:relative;
    border-radius: 40px;
    display: flex;
    height: 55px;
   width:1000px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
   
}
#ricerca img {
    position:absolute;
    height: 25px;
    left:25px;
}

#dentro_ricerca {
    position:absolute;
   right: 7px;
    padding:13px;
    padding-left:28px;
    padding-right:28px;
  border-radius:44px;
  font-size:19px;
  font-weight:500;
    background-color: limegreen;

}


#inizio {
    position:relative;
    margin-top:65px;
    justify-content:start;
}
#inizio img {
    width:1125px;
    border-radius:10px;
}

#bebetter {
    position: absolute;
    color: white;
    top: 305px;
    left: 20px;
    font-size: 40px;
    font-weight: bolder;
    text-shadow: 0 0 10px darkgreen;
}
#bebetter_contenuto {
    position: absolute;
    font-size: 20px;
    left: 0px;
    font-weight: 500;
}
#OPLA {
   text-decoration:underline;
}
#bottone {
    position: absolute;
    bottom: 34px;
    left: 20px;
    background-color: whitesmoke;
    border-radius: 37px;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bolder;
    font-size: 25px;
    color: darkgreen;

}


.flex-container {
    display:flex;
    justify-content:center;
    
    
}
.flex-container img{
   border-radius:25px;
  padding:15px;
   height:260px;
  width:260px;
}

.intestazione {
    align-self: flex-start;
    margin-left:10px;
    font-size:25px;
    font-weight:bold;

}



#russi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(255,237,211);
    height: 450px;
    width: 100vw;
}

.spazio{

    margin-top:100px;
}

footer {
    display: flex;
    background-color: black;
    color: white;
    margin-top: 100px;
    min-height: 300px;
    font-size: 23px;
   
    align-items: center;
    justify-content: end;
}
.cellulare {

    margin-right:80px;
}


